@import './../../../material/buttonpositioning.scss';

.hamster__container-no-background {
  position: absolute;
  left: 3%;
  width: 94%;
  height: 200px;
  border: none;
  background: transparent;
}

.paper-wrapper {
  position: absolute;
  top: 20%;
  margin: 0 10px;
}

.paper-question {
  color: #fff;
}

.btn-group-upper {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
}

.btn-group-lower {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
}

.option1 {
  height: 85%;
  width: 47.5%;
  float: left;
  background-color: #fff;
  border-radius: 15px;
}

.option2 {
  height: 85%;
  width: 47.5%;
  float: right;
  background-color: #fff;
  border-radius: 15px;
}

.option3 {
  height: 85%;
  width: 47.5%;
  float: left;
  background-color: #fff;
  border-radius: 15px;
}

.option4 {
  height: 85%;
  width: 47.5%;
  float: right;
  background-color: #fff;
  border-radius: 15px;
}

.option-title {
  position: relative;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  color: #695CFF;
}

.option-subtitle {
  top:-10px;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  bottom: 20%;

  text-align: center;
  color: #140F26;
}