.row-wrapper {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: -3px;
}

.organisation-table-row {
  position: relative;
  width: 100%;
  height: 60px;
}

.organisation-column {
  position: absolute;
  width: 80%;
}

.organisation-column .organisation {
  position: relative;
  left: 1%;
  right: 11%;
  text-align: left;
  margin-top: 1%;
  font-size: 15px;

  //cut string
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;

  line-height: 17px;
  color: #FFFFFF;
}

.organisation-column .adress {
  position: relative;
  left: 1%;
  right: 11%;
  text-align: left;
  margin-bottom: 0;
  font-size: 11px;

  //cut string
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;

  line-height: 14px;
  color: #000000;
}

.organisiation-phone-icon {
  position: absolute;
  margin-top: 10px;
  right: 5%;
}



// template for other pages //

// media query for very small screens
@media only screen and (max-width: 374px) {

  .organisation-table-row {
    height: 35px;
  }
  .organisation-column .organisation {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
  .organisation-column .adress {
    position: relative;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
}

// media query for larger phones
@media only screen and (min-width: 375px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
