.hamster-donate-input-container {
  position: absolute;
  width: 100%;
}

.hamster-donate-input-container input {
  position: absolute;
  margin: 25% 0 0 -150px;
  background: #FFFFFF;
  border-radius: 50px;
  height: 25px;
  width: 300px;
  font-size: 20px;
  text-align: center;
}