.menu-icon {
   position: absolute;
   right: 0px;
   top: 0px;
   padding: 10px;
   cursor: pointer;
   z-index: 10;
}

.overlay {
   position: absolute;
   z-index: 1000;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #14D2B8;
}

.menulist {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   top: 0;
}

ul, li {
   list-style: none;
   padding: 0;
   margin: 0;
}

li {
   display: block;
   padding: 20px 30px;
}

a {
   color: #FFF;
   text-decoration: none;
}

a:hover {
   color: #695CFF;
}

.language-switcher {
   align-self: flex-end;
   margin-bottom: 30px;
   display: inline-flex;
  div {
    margin-left: 3px;
    margin-right: 3px;
    color: #FFF;
  }
}

.language-switcher select {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFF;
  width: 100px;
  text-align: center;

  background-color: #14D2B8;
  border: 0;

  -webkit-appearance: none !important;
  /*webkit browsers */
  -moz-appearance: none !important;
  /*Firefox */
  appearance: none !important;
  /* modern browsers */
  border-radius: 0 !important;
}

.language-switcher select option:checked {
  background-color: #fff !important;
  color: #fff !important;
}
