.toilet-next__container button {
  display: flex;
  flex-direction: row;
  padding: 18px 40px;
  height: 60px;
  background: #14D2B8;
  border-radius: 50px;
  border: 0px;
  margin: auto;
  margin-top: 30px;
}

.toilet-next__container button:hover {
  background: #695CFF;
  cursor: pointer;
}

.toilet-next__container .toilet-next {
  position: relative;
  top: 20%;
  margin: 0 auto;

  font-size: 20px;
  color: #FFFFFF;
}

.toilet-next__container .arrow-right {
  padding-left: 10px;
  align-self: center;
}
