.hamster__toilet-next {
  width: 30px;
  float: right;
}

.arrow-right {
  width: 0; 
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid green;
}
