.toilet-back__container {
  display: flex;
  flex-direction: row;
}

.hamster__toilet-back .toilet-back {
  position: relative;
  top: 2px;
  margin: 0 auto;

  font-size: 20px;
  color: #14D2B8;
}

.hamster__toilet-back .arrow-left {
  padding-right: 10px; 
  align-self: center;
}
