.arrow-left {
  float: left;
}

.toilet-back {
  float: left;
  position: static;
  left: 35.29%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  
  text-align: center;
  
  /* Green */
  color: #14D2B8;
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 0px;
}
