@import './../../../material/buttonpositioning.scss';

.hamster__container {
    width: 94%;
    height: 200px;
    background-color: white;
    background: #FFFFFF;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin: auto;
}

.household-wrapper {
    margin: 0 10px;
    margin-top: 15vh;
}

.household-wrapper p {
    color: #fff;
    margin: 24px 0;
}
