.hamster__container-no-bg {
  position: absolute;
  width: 100%;
  margin-top: 40%;
  background: transparent;
  border: none;
}

.table-container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

