.hamster-title-stock-pile {
  position: relative;
  margin: 38% 0 0 0;
}

.lower-container {
  position: absolute;
  top: 50%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.result-box {
  position: absolute;
  z-index: 2;
  top: -15%;
  left: 3%;
  right: 3%;
  height: 30%;

  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.result-box:after {
  content: '';
  border: 20px solid transparent;
  border-bottom-color: #FFFFFF;
  border-top: 0;

  /* [THESE WILL POSITION THE TRIANGLE] */
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -20px;
}

.result-stockpile {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 120px;
  
  text-align: center;
  color: #140F26;
}

.result-stockpile--above-average {
  color: #FF3A79;
}
.result-stockpile--average {
  color: #14D2B8;
}
.result-stockpile--below-average {
  color: #F2EA23;
}

.result-text {
  padding-left: 10px;
}

.result-text {
  padding-left: 10px;
}

.lower-bg {
  position: relative;
  height: 100%;
  background: linear-gradient(308.18deg, #645AFF -3.69%, #A573FF 109.82%);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
}

.lower-bg {
  position: relative;
  height: 100%;
  background: linear-gradient(308.18deg, #645AFF -3.69%, #A573FF 109.82%);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
}

.result-donate-button {
  position: relative;
  bottom: -170px;
  margin: 0 auto;

  background: #14D2B8;
  border-radius: 50px;
}

.home-button {
  position: relative;
  bottom: -190px;
  margin: 0 auto;

  background: #14D2B8;
  border-radius: 50px;
}
