.hamster {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.hamster-title {
  position: relative;
  margin: 50px 0 0 0;
}

.lower-container {
  position: absolute;
  top: 50%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.greetings-box {
  position: absolute;
  z-index: 2;
  Top: -15%;
  left: 3%;
  right: 3%;
  height: 30%;
  // margin-top: -50px;
  // height: 100px;

//   left: 2.67%;
// right: 2.67%;
// top: 33.93%;
// bottom: 49.38%;
  

  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}


#greeting-text {
  position: absolute;
  height: 100%;
  left: 6%;
  right: 6%;
  // top: 39.66%;
  // bottom: 53.2%;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  // /* Darkblue */
  // color: #140F26;
}

.lower-bg {
  position: relative;
  height: 100%;
  background: linear-gradient(308.18deg, #645AFF -3.69%, #A573FF 109.82%);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
}
