@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.hamster {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  position: absolute;
  top: 0%;
  bottom: 50%;
  left: 0%;
  right: 0%;
}

.hamster-title {
  position: relative;
  margin: 40% 0 0 0;
}

.lower-container {
  position: absolute;
  top: 50%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.greetings-box {
  position: absolute;
  z-index: 2;
  Top: -15%;
  left: 3%;
  right: 3%;
  height: 30%;

  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  svg {
    position: absolute;
    margin-top: -214px;
    display: block;
    margin-left: calc(50% - 97.5px);
  }
  .greeting-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    margin: 0 auto;
  }
}

.greetings-box:after {
  content: '';
  border: 20px solid transparent;
  border-bottom-color: #FFFFFF;
  border-top: 0;

  /* [THESE WILL POSITION THE TRIANGLE] */
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -20px;
}

.greeting-text {
  background-color: white;
  position: relative;
  color: #140F26;
  margin: 0;
  align-content: center;
  padding: 4% 2% 4% 2%;
}

.lower-bg {
  position: relative;
  height: 100%;
  background: linear-gradient(308.18deg, #645AFF -3.69%, #A573FF 109.82%);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
}

.lower-bg p {
  position: relative;
  top: 20%;
  margin: 0 auto;

  font-size: 20px;
  color: #FFFFFF;
}

.lower-bg button {
  display: flex;
  flex-direction: row;
  padding: 18px 40px;
  height: 60px;
}

.lower-bg button a {
  text-decoration: none;
  margin: 0 auto;

  // position: static;
// left: 19.05%;
// right: 19.05%;
// top: 30%;
// bottom: 30%;

font-family: Lato;
font-weight: 600;
font-size: 18px;
// /* identical to box height */

text-align: center;

/* White */

color: #FFFFFF;

// /* Inside Auto Layout */

// flex: none;
// order: 0;
align-self: center;
// margin: 10px 0px;
}

.toilet-button {
  position: relative;
  top: 25%;
  margin: 0 auto;


  background: #14D2B8;
  border-radius: 50px;
}

.stockpile-button {
  position: relative;
  top: 28%;
  margin: 0 auto;

  background: #14D2B8;
  border-radius: 50px;
}

// media query for very small screens

@media only screen and (max-width: 374px) {
  body {
    font-size: 1.3em;
  }
  .greetings-box {
    position: absolute;
    z-index: 2;
    Top: -15%;
    max-height: 30%;
  }
}


/* tiny small devices (phones, 374px and down) */
@media only screen and (max-width: 374px) {
  body {
    font-size: 1.3em;
  }

}

/* Extra small devices (phones, 374px and down) */
@media only screen and (min-width: 375px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 1.8em;
  }
  .greetings-box {
    position: absolute;
    z-index: 2;
    top: -15%;
    height: 30%;
  }
  .greeting-text {
    padding: 3% 2% 1% 2%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .greeting-text {
    padding: 40px 2% 20px 2%;
  }
}



// template for other pages //

// media query for very small screens
@media only screen and (max-width: 374px) {
}

// media query for larger phones
@media only screen and (min-width: 375px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
