.next-wrapper {
  position: absolute;
  top: 80%;
  left: calc(50% - 146px/2);
}

.back-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: absolute;
  left: 20px;
  top: 20px;
}

.step-wrapper {
  position: absolute;
  top: 12%;
  bottom: 51%;
  left: 5%;
  right: 5%;
  margin: 0 10px;
  color: #fff;
}

.household-question, .quarantine-question, .toilet_question {
  margin-top: 10px;
  margin-bottom: 10px;
}

.slider-value {
  position: relative;
  margin: 0 auto;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  color: #695CFF;
}

.hamster__container {
  position: absolute;
  left: 3%;
  width: 94%;
  height: 90%;
  background-color: white;
  background: #FFFFFF;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  border-radius: 4px;
}


// template for other pages //

// media query for very small screens
@media only screen and (max-width: 374px) {

  .slider-value {
    font-size: 60px !important;
    line-height: 80px !important;
  }
  .hamster__container {
    height: 80% !important;
  }
}

// media query for larger phones
@media only screen and (min-width: 375px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
